* {
    box-sizing: border-box;
    font-family: Arial;
}

p {
    line-height: 1.5rem;
    color: hsl(0, 0%, 30%);
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 50px;
    color: hsl(0, 0%, 30%);
}

.simple {
    text-align: center;
    width: 200px;
    color: hsl(0, 0%, 30%);
    padding-bottom: 23px;
    border-bottom: 1px solid grey;
}

.speedy {
    text-align: center;
    width: 200px;
    color: hsl(0, 0%, 5%);
    padding-bottom: 20px;
    border-bottom: 3px solid hsl(0, 94%, 66%);
}

.easy {
    text-align: center;
    width: 200px;
    color: hsl(0, 0%, 30%);
    padding-bottom: 23px;
    border-bottom: 1px solid grey;
}

.hero {
    display: flex;
    height: 400px;
}

.first-section {
    height: 100%;
    width: 50%;
    position: relative;
    margin-top: 50px;
}

.bg-design {
    height: 80%;
    width: 80%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0 150px 150px 0;
    position: absolute;
    z-index: -1;
    top: 80px;
}

.first-section img {
    position: absolute;
    left: 200px;
    width: 400px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 50%;
    padding-left: 50px;
}

.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    margin-top: 50px;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 140px;
    border-radius: 5px;
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}